*.class

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

vaadin-context-menu-demo/src/main/webapp/VAADIN/widgetsets/

styles.css
styles.scss.cache

nb-configuration.xml

# Eclipse metadata
.project
.classpath
.settings/

target/
context-menu-demo/src/main/webapp/VAADIN/widgetsets/

#IDEA
.idea/
*.iml